<!DOCTYPE html>
<html lang="en">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>My WishList App:HOME</title>
  <link rel="stylesheet" href="../assets/wishStyles.css">    
  </head>

  <body ng-controller="HomeCtrl">
    <div id="myWishList">
      <div class="tint">
          <main>
            <section class="topArea">
            </section>
            <section class="middleArea">
              <div id="homeLogo">
                <div id="logo"></div>
              </div>
              <div id="homeText">
                <div id="text">a collective place for all of your wishlists</div>
              </div>
              <div id="form">
                <form class="form-signin" name="signinForm" role="form">
                  <div class="form-group" ng-class="{ 'has-error' : signinForm.email.$invalid }">
                    <input type="email" placeholder="Email Address" name="email" class="form-control" ng-model="user.email">
                    <p class="help-block" ng-show="signinForm.email.$invalid">Enter a valid email.</p>
                  </div> 
                  <div class="form-group" ng-class="{ 'has-error' : signinForm.password.$invalid }">
                    <input type="password" placeholder="Password" name="password" class="form-control" ng-model="user.password" ng-minlength="3">
                    <p class="help-block" ng-show="signinForm.password.$error.minlength">Min password length is 8 characters.</p>
                  </div>
                  <div id='homeButtons'>
                    <div class="registerButton">
                      <div class='clickTrack'><label class="checkbox">
                        <a href="#/register"> Sign Up</a>
                      </label></div></div>
                       <div class="signButton">
                      <div class='clickTrack'><label ng-disabled="!user.email || !user.password" type="button" ng-click="!user.email || !user.password || SignIn()"> Sign In</label>
                      </label></div></div>
                      
                    </div>
                </form>
              </div>
            </section>
            <section class="bottomArea">
            </section>
          </main>
        </div>
      </div>
  </body>

</html>